mat-form-field {
  width: 100%;
  margin: 10px 0px;
}

form {
  width: 500px;
}

.mat-grid-tile {
  margin-right: 10px;
}

.mat-grid-list {
  grid-column-gap: 200px;
}

.btn-info {
  background-color: #007bff;
  color: #ffffff;
}

.mat-raised-button.btn-info {
  background-color: #00BCD4;
  color: white;
  border-color: #00BCD4;
}

.mat-raised-button.btn-info:hover {
  background-color: #00A0CE;
}

.mat-raised-button.btn-info:active {
  background-color: #00838F;
}

/* Esto centra el spinner sobre el contenido del modal */
.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7); /* Fondo semitransparente */
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}