<mat-toolbar color="primary" style="background-color: #157E8E">
  <mat-toolbar-row>
    
    <h1>Sistema CellCompany</h1>
    <button mat-icon-button (click)="drawer.toggle();" style="position: fixed; right: 20px;">
      
   <mat-icon >menu</mat-icon>
 
    </button>
    
    <span style="flex: 1 1 auto;">
    </span>
    <label style="font-size: 14px; margin-right: 60px;">
      {{correoUsuario}} | {{rolUsuario}}

    </label>
   
    
  </mat-toolbar-row>
 
</mat-toolbar>

<div class="content-container"  style="margin-top: -7px;"  > <!-- Contenedor para el contenido principal -->
  <mat-sidenav-container class="sidenav-container" style="background-image: url('./assets/ConsultorioDental6.jpg'); background-size: cover; background-position: center;" >
    <mat-sidenav #drawer class="sidenav"  
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="true">
      <!-- Contenido del sidenav -->

      <mat-nav-list class="menu-list">
  <mat-list-item *ngFor="let menu of listaMenu" [routerLink]="menu.url" class="menu-item">
    <mat-icon matListItemIcon>{{menu.icono}}</mat-icon>
    <span matListItemTitle>{{menu.nombre}}</span>
  </mat-list-item>

  <div class="logout-container">
    <button mat-list-item (click)="cerrarSession()" class="logout-button">
      <mat-icon matListItemIcon>logout</mat-icon>
      <span matListItemTitle>Cerrar Sesión</span>
    </button>
  </div>
</mat-nav-list>
    </mat-sidenav>

 
  
   
    <!-- Contenido de la página principal -->
    <mat-sidenav-content>
      <div style="height: 91vh">
        <router-outlet></router-outlet>
    
      </div>
    
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
